body{
  font-family:Segoe UI;
  background:#f4f6f9;
  padding:20px
}

.card{
  background:#fff;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
  box-shadow:0 3px 8px rgba(0,0,0,.1)
}

label{
  font-weight:600;
  margin-top:10px;
  display:block
}

select,
input[type="text"],
input[type="date"]{
  width:100%;
  height:44px;
  padding:10px 12px;
  margin-top:5px;
  border-radius:6px;
  border:1px solid #aaa;
  font-size:14px;
  box-sizing:border-box;
  background:#fff;
}

input[type="date"]{
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}

button{
  background:#0e7537;
  color:#fff;
  padding:12px;
  border:none;
  border-radius:8px;
  margin-top:15px;
  width:100%;
  font-weight:bold
}

button:disabled{background:#999}

.dokumen{
  border:1px dashed #ccc;
  padding:15px;
  border-radius:8px;
  margin-top:10px
}
